@charset "UTF-8";
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30ox rgba(255, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.5s;
  position: relative;
}

button.normal:hover {
  background-color: #89d28b;
  color: rgb(35, 35, 35);
}
